@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SportFlowCustomer.Orders.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SportFlowApp.SportFlowCustomer.CustomerOrdersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>